.Head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 100px;
  user-select: none;
  color: black;
}

.search-section {
  display: flex;
  flex-direction: row;
  column-gap: 10vh;
}

.search-left {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.search-right {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.search-bar-container {
  border: 3px solid;
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
}

.dropdown-offset {
  position: relative;
  width: 100%;
}

.dropdown {
  border: 2.5px solid;
  height: fit-content;
  width: 99%;
  position: absolute;
  list-style: none;
  background-color: white;
}

.search-result {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  column-gap: 10px;
  padding: 10px 10px;
  border-bottom: 2px solid;
  font-size: 20px;
  cursor: pointer;
}

.search-result:hover {
  background-color: #ddd;
}

.search-result:last-child {
  border-bottom: none;
}

.search-bar {
  width: 100%;
  height: 80%;
  border-width: 2.5px;
  border: none;
  outline: none;
  padding: 3px 10px;
  font-size: 25px;
  font-weight: 50;
}

.box-1 {
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3vh;
}

.button-mode {
  display: flex;
  justify-content: center;
  font-size: 27px;
  font-weight: 900;
  align-items: center;
  border: 3px solid;
  border-radius: 8px;
  height: 65px;
  width: 100px;
  background-color: #0AF;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.button-mode:hover {
  color: white;
  border-color: black;
}

.button-search {
  display: flex;
  border: 3px solid;
  border-radius: 8px;
  height: 65px;
  width: 200px;
  background-color: #0AF;
  cursor: pointer;
  font-size: 30px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.3s;
}

.button-search:hover {
  color: white;
  border-color: black;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-width: 0.5px;
  border: solid;
}

.result-box {
  max-width: 80%;
}

.image-result {
  position: relative;
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #0AF;
  border: solid 1px;
}

.dropdown-dummy {
  display: none;
}

.box-2 {
  display: flex;
  border: solid 3px;
  border-radius: 8px;
  height: 65px;
  width: 180px;
  background-color: #0AF;
  cursor: pointer;
  font-size: 25px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.3s;
}

.box-2:hover {
  color: white;
  border-color: black;
}

.result-section {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.result-tag {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 800;
}